<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
</head>
<body>
<form method="post" autocomplete="off" id="postform"
      action="http://www.ygopro-ocg.com/forum.php?mod=post&amp;action=newthread&amp;fid=107&amp;extra=&amp;topicsubmit=yes">
    <input type="text" name="formhash" id="formhash" value="62b729ad"/></br>
    <input type="text" name="subject" id="subject" class="px" value=""/></br>
    <textarea name="message" id="e_textarea" rows="15"></textarea>
    <button type="submit" id="postsubmit" value="true" name="topicsubmit">发表帖子</button>
</form>
</body>
</html>