<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
</head>
<body>
<form action="fit">
查看战报开始日期:<input type="date" name="t1">
到结束日期:<input type="date" name="t2">
    <button type="submit" >send</button>
</form>
<form action="fic">
输入要战报统计的一个战队<input type="text" name="lx">
    开始日期:<input type="date" name="t1">
    到结束日期:<input type="date" name="t2">
    <button type="submit" >send</button>
</form>
<form action="fia">
    所有战队的战报统计   开始日期:<input type="date" name="t1">
    到结束日期:<input type="date" name="t2">
    <button type="submit" >send</button>
</form>
</body>
</html>